API_KEY=your_api_key
POSTGRES_DB=payflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=payflow_postgres
POSTGRES_PORT=5432
RABBITMQ_HOST=payflow_rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
LOG_LEVEL=DEBUG